* {
    margin: 0px auto;
    text-align: center;
}

a {
    color: White;
}

.text-success {
    text-decoration: none;
}


#wrapper {
    border: 2px solid black;
    border-radius: 20%;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
    width: 50%;
    word-wrap:break-word;
    margin-bottom: 20px;
}